  <div class="header">
    <button class="btn btn-primary" (click)="goToMockTest()">Mock test</button>
    <button  class="btn btn-primary"  >Daily quiz</button>
  </div>
  <div class="full-page">  
      <div class="colmn double" >
        <h2><p>Main menu</p>  </h2>
        <input type="text" style="width:100%" [(ngModel)]="mainMenu" placeholder="Main menu"/>
        <input type="checkbox" name="vehicle1" [(ngModel)]="isIndependant">No sub menu<br>
        <button class="custom-menu-1-button" (click) ="addMainMenu()"  >Add</button>
        <ul *ngFor="let item of mainMenuList">
          <li style="width:100%" (click)="getMenu1(item.main_menu_id,item.menu_name)">
            {{ item.menu_name }}
            <div style="float: left">
              <button (click)="disableEnableMenu( item.main_menu_id, item.m_menu_isactive )">{{item.button_name}}</button>
            </div>                
          </li>
          <button style="width: 100%;" (click)="editMainMenu(item.main_menu_id)">Edit</button>
        </ul>
      </div>
       
      <div *ngIf="selectedMenu" class="colmn double">
          <h2><p>Sub menu</p></h2>
          <p class="selected_main_menu" style="width:100%">{{selectedMenu}}</p>
          <input type="text" style="width:100%" [(ngModel)]="newMenu1" placeholder="Submenu"/> 
          <button class="custom-menu-1-button" (click)="addMenu1()" >Add</button>
          <button style="width:100%" (click)="getAllMenu1()">Show all submenu</button>
          <ul *ngFor="let menu1 of allMenu1List; let i = index" class="sub-page">
              <table>
                  <tr>
                      <td ><p>{{menu1.menu_1_name}}</p></td>
                  </tr>
                <tr>
                    <td style="width: 100%;"><button style="width: 100%;" (click)="enabledisableMenu(i)">{{menu1.enableButtonName}}</button></td>
                </tr>
                <tr>
                    <td style="width: 100%;"><button style="width: 100%;" (click)="editSubMenu(menu1.menu_1_id)">Edit</button></td>
                </tr>
              </table>
              
            </ul>
           
      </div>
      
      
      
      
  </div>