.parent{
    display: block;
}
.heading {
    text-align: center; 
    font-weight: bold;
    font-size: 30px;
    background: red;
  }
.sub-menu{ 
    background-color: #4CAF50;
    color: white; 
    float: left;
    border: 1px solid green; /* Green border */ 
    padding: 10px 24px; /* Some padding */
    margin-top: 10px;
    cursor: pointer; /* Pointer/hand icon */
    width: 100%; /* Set a width if needed */
    display: block;
}
.column {
    float: left;
    width: 33%;
    padding: 10px;  
    
  }
  .details{
    background: #4CAF50;
    margin: 5px;
    height: auto;
    width: 100%;
    color: white;
    padding: 5px;
  }